.other__li {
  display: flex;
  background-color: #1a483b;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s;
}

.other__li:hover {
  background-color: hsl(164, 47%, 25%);
}

.other__li span:first-child {
  font-size: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.other__li img {
  display: none;
}

.other__li p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  word-break: break-all;
}

.other__li span:last-child {
  font-size: 1.25rem;
  font-weight: bold;
  color: #03b169;
  width: min(30%, 20rem);
}
