.card__rules {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #373a3b;
  margin-top: 1rem;
  padding: 1.3rem;
  gap: 1rem;
  border-radius: 0.3rem;

  @media screen and (max-width: 900px) {
    border: none;
  }
}

.card__rules h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule {
  display: flex;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #1a483b;
}

.rule h5 {
    font-weight: 400;
    font-size: 1rem;
}